.restaurants {
  background-color: $color-background;
  padding-bottom: 20px;
  & h2 {
    padding-top: 25px;
    margin-bottom: 10px;
    margin-left: 2.5%;
  }
  & .resp-tab {
    @include tablette {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 5%;
      grid-row-gap: 30px;
      margin: 0 5%;
    }
    @include pc {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    @include pc-xl {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
  & article {
    width: 95%;
    margin-bottom: 18px;
    background-color: $secondary-font-color;
    border-radius: 10px;
    box-shadow: 0 3px 8px lighten($color: $footer, $amount: 60);
    margin: 18px 2.5% 18px 2.5%;
    & a {
      text-decoration: none;
      color: $primary-font-color;
    }
    & a:visited {
      color: $primary-font-color;
    }
    & .liste-resto-new {
      display: flex;
      justify-content: space-between;
      margin-top: -30px;
      & .heart {
        margin-right: 30px;
        padding-top: 10px;
        transform: scale(1.5);
      }
    }
    & .liste-resto {
      display: flex;
      justify-content: space-between;
      margin-top: -5px;
      & .heart {
        margin-right: 30px;
        padding-top: 10px;
        transform: scale(1.5);
      }
    }
    & .nom-lieu {
      font-size: 80%;
      margin: 2px 0 10px 0;
      padding-left: 12px;
      display: flex;
      flex-direction: column;
      & h3 {
        padding-top: 5px;
        margin-bottom: 0;
      }
      & p {
        padding: 5px 0;
        margin: 2px 0;
        font-size: 115%;
      }
    }
    & .new {
      width: 80px;
      height: 30px;
      color: darken($color: $color-tertiary, $amount: 50);
      background-color: $color-tertiary;
      padding: 5px;
      border-radius: 3px;
      position: relative;
      bottom: 160px;
      margin-left: 73%;
      @include tablette {
        margin-left: 74%;
      }
      @include pc {
        margin-left: 61%;
      }
      @include pc-xl {
        margin-left: 72%;
      }
    }
  }
  & img {
    width: 100%;
    height: 170px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }
}
