footer {
  width: 100%;
  background-color: #696969;
  padding-bottom: 5px;
  & h2 {
    font-family: $police-logo_titre;
    font-weight: 100;
    color: white;
    font-size: 1em;
    transform: scale(1.15, 1);
    padding-top: 5px;
    padding-left: 7%;
    margin: 0 40% 5px 0;
  }
  & ul {
    list-style-type: none;
    padding-left: 3.5%;
    line-height: 30px;
  }
  & a {
    color: white;
    text-decoration: none;
    & .fa-hands-helping {
      transform: scale(0.6, 1);
      margin-left: -1px;
    }
    & .fa-utensils {
      margin-right: 6px;
    }
  }
  & a:visited {
    color: white;
  }
}
