header {
  width: 95%;
  margin: auto;
  font-family: $police-logo_titre;
  display: flex;
  justify-content: space-around;

  & p {
    text-align: center;
    font-size: 1.5em;
    margin: 10px;
  }
  & a:visited {
    color: $black;
  }
  & h1 {
    text-align: center;
    font-weight: $police-text;
  }
  & .fas {
    text-align: left;
    padding-top: 20px;
  }
}
