header {
  width: 95%;
  margin: auto;
  font-family: $police-logo_titre;
  display: flex;

  & p {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    padding: 20px 0 10px 0;
  }
  & a:visited {
    color: $black;
  }
  & .fa-arrow-left {
    position: absolute;
    text-align: left;
    top: 30px;
    left: 5%;
  }
}
