#fonc {
  width: 100%;
  margin-top: 50px;
  & h2 {
    margin-left: 2.5%;
  }
  & ol {
    width: 85%;
    padding: 0;
  }
  & li {
    padding: 30px 10%;
  }
  & .fas {
    padding-left: 5%;
  }
  & .fa-mobile-alt {
    transform: scale(1.55, 1.3);
    margin-left: 3px;
    margin-right: 2px;
    padding-right: 10px;
  }
  & .fa-list {
    margin-right: 1px;
    padding-right: 10px;
  }
  & .fa-store {
    padding-right: 10px;
  }

  & ol {
    margin: auto;
    list-style: none;
    counter-reset: li;
    @include tablette {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include pc {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    @include pc-xl {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
  & li::before {
    content: counter(li);
    color: $secondary-font-color;
    padding: 2px 0px 2px 6px;
    background-color: $color-primary;
    border-radius: 12px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
    left: 7px;
  }
  & li {
    counter-increment: li;
    padding: 20px;
    background-color: $color-background;
    margin-bottom: 25px;
    border-radius: 15px;
    position: relative;
    @include tablette {
      width: 25%;
      font-size: 1em;
      padding: 20px 30px 20px 10px;
      margin: 30px 2% 30px 2%;
      white-space: nowrap;
      box-shadow: 0 3px 8px lighten($color: $footer, $amount: 30);
    }
    @include pc {
      width: 25%;
      font-size: 1.05em;
      padding: 20px 0 20px 60px;
      margin: 30px 2% 30px 2%;
      white-space: nowrap;
      box-shadow: 0 3px 8px lighten($color: $footer, $amount: 30);
    }
    @include pc-xl {
      width: 25%;
      font-size: 1.1em;
      padding: 20px 0 20px 60px;
      margin: 30px 5% 30px 5%;
      white-space: nowrap;
      box-shadow: 0 3px 8px lighten($color: $footer, $amount: 30);
    }
  }
  & li:hover {
    background-color: lighten($color: $color-primary, $amount: 35);
    box-shadow: 0 3px 8px lighten($color: $color-primary, $amount: 20);
    transition: 300ms;
    & .icon_fonc {
      color: $color-primary;
      transition: 300ms;
    }
  }
}
