form {
  width: 100%;
  font-family: $police-text;
  text-align: center;
  background-color: $color-background;
  & h1 {
    font-family: $police-text;
    font-size: 1.2em;
    padding: 3% 14% 0 14%;
  }
  & .search {
    width: 99%;
    height: 50px;
    color: $primary-font-color;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    background-color: $shadow;
    border: none;
    box-shadow: inset 0 2px 3px lighten($color: $footer, $amount: 30);
  }
  & .fa-map-marker-alt {
    color: $primary-font-color;
    opacity: 0.6;
    position: absolute;
    left: 26%;
    top: 84px;
    @include tablette {
      left: 37%;
    }
    @include pc {
      left: 37%;
    }
    @include pc-xl {
      left: 36%;
    }
  }
}
