img {
  width: 100%;
  height: 260px;
  margin-bottom: 0;
  object-fit: cover;
}
.carte {
  width: 100%;
  background-color: $color-background;
  border-radius: 35px 35px 0 0;
  padding-bottom: 30px;
  margin-top: -50px;
  position: relative;
  z-index: 1;

  & h1 {
    font-family: $police-logo_titre;
    font-size: 1.5em;
    font-weight: lighter;
    margin-left: 6%;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    & .heart {
      margin-right: 6%;
      & .heart-empty {
        position: relative;
        top: 2px;
        left: 28px;
      }
      & .heart-full {
        transform: scale(0.815, 0.78);
        background: linear-gradient(0, $color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        top: 2px;
        left: 4px;
        opacity: 0;
      }
      .heart-full:hover {
        animation: heart-full 1500ms;
        animation-fill-mode: forwards;
      }
    }
  }
}
.menu {
  list-style-type: none;
  color: $primary-font-color;
  @include pc {
    width: 98%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @include pc-xl {
    width: 98%;
    display: flex;
    justify-content: space-around;
  }

  & h2 {
    font-weight: 100;
    padding-left: 3%;
    @include tablette {
      text-align: center;
    }
    @include pc-xl {
      text-align: center;
    }
    & .underline {
      border-bottom: 3px solid $color-tertiary;
    }
  }
  & article {
    width: 95%;
    margin-left: 2.5%;
    background-color: $color-background;
    @include pc {
      width: 40%;
    }
    @include pc-xl {
      width: 30%;
    }

    & a:visited {
      color: $primary-font-color;
    }
    & .description {
      color: $primary-font-color;
      text-decoration: none;
      background-color: $secondary-font-color;
      border-radius: 10px;
      margin-top: 15px;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      width: 0;
      animation: anim-menu 1500ms;
      animation-fill-mode: forwards;

      & h3 {
        font-size: 0.95em;
        margin: 0;
        @include pc {
          font-size: 105%;
        }
        @include pc-xl {
          font-size: 105%;
        }
      }
      & p {
        font-size: 0.8em;
        margin: 5px 0;
        @include pc {
          font-size: 105%;
          font-weight: 100;
        }
        @include pc-xl {
          font-size: 105%;
          font-weight: 100;
        }
      }
      & .prix {
        font-size: 0.8em;
        font-weight: 600;
        color: $footer;
        padding-top: 28px;
        @include tablette {
          font-size: 0.9em;
        }
      }
      & .box {
        width: 0;
        background-color: $color-tertiary;
        border-radius: 0 10px 10px 0;
        margin-left: 2%;
        display: flex;
        transition: width 1000ms;
        & .check {
          margin: auto;
          transform: rotate(0);
          transition: transform 800ms;
          transition-delay: 200ms;
          & .fa-check-circle {
            font-size: 1.3em;
            color: $secondary-font-color;
            @include tablette {
              font-size: 2em;
            }
            @include pc {
              font-size: 1.7em;
            }
            @include pc-xl {
              font-size: 1.7em;
            }
          }
        }
      }
      &:hover {
        .box {
          width: 18%;
          @include tablette {
            width: 15%;
          }
        }
        .check {
          transform: rotate(1turn);
        }
      }
    }

    & .choix-1 {
      animation: anim-menu 1500ms;
      animation-delay: 500ms;
      animation-fill-mode: forwards;
    }
    & .choix-2 {
      animation: anim-menu 1500ms;
      animation-delay: 1000ms;
      animation-fill-mode: forwards;
    }
    & .choix-3 {
      animation: anim-menu 1500ms;
      animation-delay: 1500ms;
      animation-fill-mode: forwards;
    }
    & .choix-4 {
      animation: anim-menu 1500ms;
      animation-delay: 2000ms;
      animation-fill-mode: forwards;
    }
    & .choix-5 {
      animation: anim-menu 1500ms;
      animation-delay: 2500ms;
      animation-fill-mode: forwards;
    }
    & .choix-6 {
      animation: anim-menu 1500ms;
      animation-delay: 3000ms;
      animation-fill-mode: forwards;
    }
    & .choix-7 {
      animation: anim-menu 1500ms;
      animation-delay: 3500ms;
      animation-fill-mode: forwards;
    }
    & .choix-8 {
      animation: anim-menu 1500ms;
      animation-delay: 4000ms;
      animation-fill-mode: forwards;
    }
    & .choix-9 {
      animation: anim-menu 1500ms;
      animation-delay: 4500ms;
      animation-fill-mode: forwards;
    }

    & .plat {
      padding: 10px;
      margin-right: auto;
      flex-grow: 1;
      width: 5em;
      & h3,
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
.btn-command {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
