@mixin button($width, $margin-bottom) {
  width: $width;
  height: 50px;
  font-family: $police-text;
  font-size: 0.95em;
  color: $white;
  margin-bottom: $margin-bottom;
  border-radius: 25px;
  box-shadow: $shadow;
  background: linear-gradient(0, $color-primary, $color-secondary);
}
