$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background: #f5f5f5;
$background-white: #ffffff;
$primary-font-color: #000000;
$secondary-font-color: #ffffff;
$shadow: #d3d3d3;
$footer: #353535;

$police-logo_titre: "Shrikhand";
$police-text: "Roboto";

$tablette-min: 768px;
$tablette-max: 1024px;
$pc-ecran-min: 1025px;
$pc-ecran-max: 1440px;
$pc-ecran-xl-min: 1441px;
$pc-ecran-xl-max: 1920px;
